body {
  padding-top: 70px;
}
#container {
  padding: 39px 0px;
}
.single-movie-img {
  width: 100%; 
  height: 360px;
  border:1px solid;
  border-radius: 5px;
}
.thumb-big
{
  height: 199px;
  width:100%;
  border:1px solid;
  border-radius: 5px;
}
.movies-list
{
  text-align: center;
}
.availability
{
  padding: 9px;
  font-size: 12px;
  font-weight: 500;
  color: black;
}
.bookThumb
{
  height: 149px;
  padding-right: 21px;
}

.truncate {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.historyImg{
  width:100px;
  height: 100px;
  background-size: 100%;
  background-position: center;
}